.close-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    opacity: 0.3;
}

.close-btn:hover {
    opacity: 1;
}

.close-btn:before, .close-btn:after {
    position: absolute;
    left: 11px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
}

.close-btn:before {
    transform: rotate(45deg);
}

.close-btn:after {
    transform: rotate(-45deg);
}

.detail-container {
    width: calc(100% - 400px);
    margin-left: 400px;
}

.detail-container .row {
    margin-top: 0.2em;
    height: 3em;
}

.detail-container .row>div {
    margin-top: auto;
    margin-bottom: auto;
}

.link-btn-group a:not(:first-child) {
    margin-left: 0.5em;
}

/*
.detail-button-group {
    padding: 0 4em 0 8em;
}*/

.detail-button-group button {
    width: 150px;
    margin: auto;
}