<h4 class="mt-3 p-2">Delete Account - {{id}}</h4>
<hr>
<app-messageheader></app-messageheader>
<form (ngSubmit)="unregist(unregistForm)" #unregistForm="ngForm" [class.was-validated]="submited">
  <div class="row">
    Press your password to confirm delete process.
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <input type="password" class="form-control" [(ngModel)]="password" name="password"
        placeholder="Confirm your password" required minlength="4">
    </div>
  </div>
  <div class="row">
    <div class="col-11">      
      <button type="submit" [disabled]="unregistForm.invalid" class="btn btn-{{unregistForm.valid?'':'outline-'}}danger float-right">Delete {{id}}</button>
    </div>
  </div>
</form>