.modal-backdrop {
    background: rgba(255, 255, 255, 0.8);
}

.modal.container {
    display: block;
    z-index: 1050;
    margin: auto;
    margin-top: 120px;
    background: #fff3c6;
    background: linear-gradient(to bottom, #FFFFFF, #FFF3C6);
    border-radius: 2.5em;
    padding: 3em 5em;
    height: auto;
    position: relative;
    max-width: 572px;
}

.modal.container.border.seller {
    background: url(../../../../assets/plaid.jpg) repeat;
}

.form-row {
    margin-right: 0;
}