.modal.container {
    top: 70px;
    background: linear-gradient(to bottom, #FFFFFF, #FFF3C6);
    border-radius: 2.5em;
    max-width: 572px;
}

.modal.container.border.seller {
    background: url(../../../../assets/plaid.jpg) repeat;
}

.form-row {
    margin-right: 0;
}