.message-box {
    border-top: 2px dotted #AAA;
    padding: 0.5em 2em;
}

.modal-backdrop {
    z-index: 200;
    background: rgba(255, 255, 255, 0.8);
}

.modal.dm-send-box {
    display: block;
    z-index: 201;
    background: #fff3c6;
    border-radius: 0.5em;
    height: auto;
    width: 50%;
}